{% import 'cpanel/form_macros.twig' as form %}
{% extends "cpanel/main.twig" %}

{% block head %}
{% include 'cpanel/froala/styles.twig' %}
{% include 'cpanel/cropper/styles.twig' %}
{% include 'cpanel/datetimepicker/styles.twig' %}
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
-->
{% endblock %}

{% block content %}
     <form class="form-horizontal mt-3" method="POST" id="create_category" enctype="multipart/form-data" action="{{ action_url }}">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Common</h4>
                            <div class="form-group">
                                <label for="title">Title</label>
                                {{ form.inputField('title', title, errors, {class: 'form-control', type: 'text', id: 'title'}) }}
                            </div>
                            <div class="form-group">
                                <label for="slug">Slug</label>
                                {{ form.inputField('slug', slug, errors, {class: 'form-control', type: 'text', id: 'slug'}) }}
                            </div>
                            <div class="form-group">
                                <label for="tags">Tags</label>
                                {{ form.inputField('tags', tags, errors, {class: 'form-control', type: 'text', id: 'tags'}) }}
                            </div>
                            <div class="form-group">
                                <label class="mt-3">Published at</label>
                                <div class="input-group">
                                    <input type="text" name="published_at" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy" />
                                    <div class="input-group-append">
                                        <span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mt-3">Category</label>
                                {{ form.selectField('category_id', category, categories, errors, 'select2 form-select shadow-none', 'width: 100%; height: 36px') }}
                                <label class="mt-3">Status</label>
                                {{ form.selectField('status', status, statuses, errors, 'select2 form-select shadow-none', 'width: 100%; height: 36px') }}
                            </div>
                            <div class="form-group">
                                <label class="mt-3">Language</label>
                                {{ form.selectField('language', language, languages, errors, 'select2 form-select shadow-none', 'width: 100%; height: 36px') }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Media</h4>
                            <div class="form-group">
                                <label for="title">Video</label>
                                {{ form.inputField('media[video]', video, errors, {class: 'form-control', control: 'video', type: 'text', id: 'video'}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">SEO</h5>
                            <div class="form-group">
                                <label for="seo_title">Title</label>
                                {{ form.inputField('seo[title]', seo.title, errors, {class: 'form-control', 'data-control': 'seo_title', type: 'text', id: 'seo_title'}) }}
                            </div>
                            <div class="form-group">
                                <label for="seo_description">Description</label>
                                {{ form.inputField('seo[description]', seo.description, errors, {class: 'form-control', 'data-control': 'seo_description', type: 'text', id: 'seo_description'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Open Graph</h5>
                            <div class="form-group">
                                <label for="og_title">Title</label>
                                {{ form.inputField('og[title]', og.title, errors, {class: 'form-control', 'data-control': 'og_title', type: 'text', id: 'og_title'}) }}
                            </div>
                            <div class="form-group">
                                <label for="og_type">Type</label>
                                {{ form.inputField('og[type]', og.type.value, errors, {class: 'form-control', 'data-control': 'og_type', type: 'text', id: 'og_type'}) }}
                            </div>
                            <div class="form-group">
                                <label for="og_url">Url</label>
                                {{ form.inputField('og[url]', og.url, errors, {class: 'form-control', 'data-control': 'og_url', type: 'text', id: 'og_url'}) }}
                            </div>
                            <div class="form-group">
                                <label for="og_description">Description</label>
                                {{ form.inputField('og[description]', og.description, errors, {class: 'form-control', 'data-control': 'og_description', type: 'text', id: 'og_description'}) }}
                            </div>
                            <div class="form-group">
                                <label for="og_site_name">Site name</label>
                                {{ form.inputField('og[site_name]', og.siteName, errors, {class: 'form-control', 'data-control': 'og_site_name', type: 'text', id: 'og_site_name'}) }}
                            </div>
                            <div class="form-group">
                                <label for="og_locale">Locale</label>
                                {{ form.inputField('og[locale]', og.locale.value, errors, {class: 'form-control', 'data-control': 'og_locale', type: 'text', id: 'og_locale'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                          <div class="form-group">
                                <label for="imageTitle">Title</label>
                                    {{ form.inputField('media[imageTitle]', imageTitle, errors, {class: 'form-control', type: 'text', id: 'imageTitle'}) }}
                                </div>
                                {{ form.inputField('media[image]', image, errors, {class: 'form-control', type: 'file', id: 'imageInput', accept: 'image/*'}) }}
                        <div id="imageContainer">
                            <img id="image" src="{{ upload_dir }}{{ image_loaded }}" alt="{{ imageTitle }}" style="max-width: 100%;">
                        </div>
                        {{ form.inputField('media[imageData]', imageData, errors, {class: 'form-control', type: 'hidden', id: 'imageData'}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ form.textAreaField('content', content, errors, {class: 'form-control', type: 'text', id: 'editor'}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success text-white">Save</button>
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% block bottom %}
    {% include 'cpanel/froala/scripts.twig' with {'editorId': 'editor'} %}
    {% include 'cpanel/cropper/scripts.twig' with {'cropperId': 'imageInput', 'formId': 'create_category', 'dataId': 'imageData', 'imageId': 'image'} %}
    {% include 'cpanel/datetimepicker/scripts.twig' with {'pickerId': 'datepicker-autoclose'} %}

    <!--
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.7/purify.min.js"></script>
    -->
    {% endblock %}
{% endblock %}