{% extends "front/main.twig" %}

{% block content %}
{% set image = article.getImages()|filter_image_type('view') %}
<article class="blog-post">
    <img src="/{{ uploadsDir }}{{ image.url }}" class="img-fluid w-100" alt="{{ article.imageAlt }}">
    <h2 class="blog-post-title">{{ article.title }}</h2>
    <p class="blog-post-meta">{{ article.publishedAt|date('m.d.Y') }} <a href="javascript::void(0)">Admin</a></p>
    {{ article.content|raw }}
    <a href="article/{{ article.id }}/{{ article.slug }}" target="_self">Читать</a>
</article>
{% endblock %}