{% extends "front/main.twig" %}

{% block content %}
{% for article in articles %}
{% set image = article.getImages()|filter_image_type('view') %}
<article class="blog-post">
    <img src="{{ uploadsDir }}/{{ image.url }}" class="img-fluid w-100" alt="{{ article.imageAlt }}">
    <h2 class="blog-post-title">{{ article.title }}</h2>
    <p class="blog-post-meta">{{ article.publishedAt|date('m.d.Y') }} <a href="javascript::void(0)">Admin</a></p>
    {{ article.preview|raw }}
    <a href="article/{{ article.id }}/{{ article.slug }}" target="_self">Читать</a>
</article>
{% endfor %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}