<!doctype html>
<html lang="{{ meta_lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_desc }}">
    <meta name="author" content="{{ author }}">
    <title>{{ meta_title }}</title>

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" as="style">

    <link rel="canonical" href="{{ canonical }}">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/blog.css" rel="stylesheet">

    {% block head %}{% endblock %}
  </head>
  <body>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a class="link-secondary" href="#">Подписаться</a>
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/">tree::<span>code</span><span>()</span></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center position-relative">
            <form action="/search" method="GET">
                <button class="btn btn-link search-icon" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                </button>
                <input type="text" name="term" class="search-input" placeholder="Поиск...">
            </form>
        </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2"></div>
</div>

<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
    {% block content %}{% endblock %}
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        {% block right_menu %}
        {% endblock %}
      </div>
    </div>
  </div>

</main>

<footer class="blog-footer">
  <p><span class="cursor">~$ treecode.ru | "код должен нести благо"</span></p>
  <p>Copyrigh © 2014 - {{ "now"|date('Y') }}</p>
  <p><a href="#">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/></svg>
  </a></p>
</footer>
    {% block bottom %}{% endblock %}
    <script>
    document.querySelector('.search-icon').addEventListener('mouseover', function() {
        document.querySelector('.search-input').focus();
    });
    </script>
  </body>
</html>